meter, progress, .progress {
    display: $progress-display;
    width: $progress-width;
    height: $progress-height;
    @include margin-shorthand-with-screens-support((
        top: $progress-margin-top,
        bottom: $progress-margin-bottom,
        left: $progress-margin-left,
        right: $progress-margin-right
    ), $progress-margin-for-screens);
    @include outline-shorthand((
        width: $progress-outline-width,
        style: $progress-outline-style,
        color: $progress-outline-color,
        make-shorthand: true
    ));
    @include border-shorthand(map-merge((
        border: (
            width: $progress-border-width,
            style: $progress-border-style,
            color: $progress-border-color,
            make-shorthand: true
        )
    ), $progress-borders));
    @include background-shorthand((
        image: $progress-background-image,
        position: $progress-background-position,
        repeat: $progress-background-repeat,
        color: $progress-background-color,
        attachment: $progress-background-attachment,
        make-shorthand: true
    ));
    @include padding-shorthand((
        top: $progress-padding-top,
        bottom: $progress-padding-bottom,
        left: $progress-padding-left,
        right: $progress-padding-right
    ));
    @include border-radius($progress-border-radius);
    @if mixin-exists(progress-extra-style) {
        @include progress-extra-style();
    }
}

progress, .progress {
    @include appearance($progress-appearance);
}

.progress .progress-meter {
    display: block;
    width: 0;
    height: 100%;
    @include background-shorthand((
        image: $progress-meter-background-image,
        position: $progress-meter-background-position,
        repeat: $progress-meter-background-repeat,
        color: $progress-meter-background-color,
        attachment: $progress-meter-background-attachment,
        make-shorthand: true
    ));
    @if mixin-exists(progress-meter-extra-style) {
        @include progress-meter-extra-style();
    }

    .progress-meter-info {
        display: block;
        width: 100%;
        height: 100%;
        font-size: $progress-meter-info-font-size;
        line-height: $progress-meter-info-line-height;
        text-align: $progress-meter-info-text-align;
        color: $progress-meter-info-color;
        @if mixin-exists(progress-meter-info-extra-style) {
            @include progress-meter-info-extra-style();
        }
    }
}

progress {
    @include progress-colors-propertys((background-color: $progress-background-color, meter-background-color: $progress-meter-background-color));
}

meter {
    @include meter-colors-propertys((background-color: $progress-background-color, meter-background-color: $progress-meter-background-color));
}