$progress-height: 16px !default;
$progress-margin-top: $elements-margin-top !default;
$progress-margin-bottom: $elements-margin-bottom !default;
$progress-margin-left: $elements-margin-left !default;
$progress-margin-right: $elements-margin-right !default;
//Defined margins for each screens.
$progress-margin-for-screens: () !default;
/*$progress-margin-for-screens: (
    s1: (
        top: 20px, //Not required. Define only the margins values you want to change. Example - s2: ( top: 20px ) - change only top margin for screens greater than s2
        bottom: 20px,
        left: 20px,
        right: 20px,
    ),
    ...
) !default;*/
$progress-border: 0 !default;
$progress-background-color: get-color(grey, 200) !default;

$progress-meter-background-color: $primary-color !default;
$progress-meter-text-font-size: 80% !default;
$progress-meter-text-color: $hover-primary-color-background-inner-color !default;
