$progress-height: 16px;
$progress-margin: $elements-margin;
$progress-background-color: get-color(grey, 200);

$progress-meter-background-color: $primary-color;
$progress-meter-text-font-size: 80%;
$progress-meter-text-color: $hover-primary-color-background-text-color;
